.fixed-bar-top, .fixed-bar-bottom {
  position: fixed;
  left: 0;
  right: 0;
  pointer-events: none;

  > :not(.collapse) {
    pointer-events: all;
  }

  > .collapse {
    pointer-events: none;

    > * {
      pointer-events: all;
    }
  }
}

.fixed-bar-top {
  top: 0;
}

.fixed-bar-bottom {
  bottom: 0;
}
